@import url("https://fonts.googleapis.com/css?family=Titillium+Web:200,300,400,400i,700");

// Colors

$grey-light-1: #f0eeee;
$grey-light-2: #ccc;

$grey-dark-1: #999;
$grey-dark-2: #777;
$grey-dark-3: #333;

$black: #000;
$white: #fff;
